<%= link_to 'New article', new_article_path %> <!-- new_article_path - this is defined in the attributes of the form?? '_path' is a specific keyword that links with the new_article URI!-->

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>  <!-- No idea how article_path becomes a method. '_path' specific method that points to the path of '/articles' !-->
      <td><%= link_to 'Edit', edit_article_path(article) %></td>  <!-- edit_article -> /articles/:id/edit(.:format)!-->
    </tr>
  <% end %>
</table>

<%= link_to 'Back', root_path %> <!-- '_path' seems to be a specific keyword, 'root' being linked to the '/' URI !-->